VERSION=1.0.0
SERVICE_NAME=projectunsafe
PORT=8080

JWT_SECRET=labibalfaisal@9xzer0
HASH_PEPPER=labib0x0hunter
BCRYPT_COST=12

DB_USER=projectunsafe
DB_PASSWORD=secret
DB_PORT=5432
DB_ADDRESS=localhost
DB_NAME=projectunsafe
DB_SSLMODE=disable

DB_SUPERUSER=labib
DB_SUPERDB=postgres

REDIS_ADDR=localhost:6379
REDIS_USER=
REDIS_PASS=